WO02D7_1008/WO02D7_orarend.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="OP_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" type="oraTipus" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="oraTipus">
    <xs:sequence>
      <xs:element name="targy" type="xs:string"/>
      <xs:element name="idopont" type="idopontTipus"/>
      <xs:element name="helyszin" type="xs:string"/>
      <xs:element name="oktato" type="xs:string"/>
      <xs:element name="szak" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="tipus" type="oraTipusTipus" use="required"/>
  </xs:complexType>

    <xs:simpleType name="oraTipusTipus">
        <xs:restriction base="xs:string">
        <xs:enumeration value="eloadas"/>
        <xs:enumeration value="gyakorlat"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="idopontTipus">
        <xs:sequence>
        <xs:element name="nap" type="napTipus"/>
        <xs:element name="tol" type="idopontOraTipus"/>
        <xs:element name="ig" type="idopontOraTipus"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="napTipus">
        <xs:restriction base="xs:string">
        <xs:enumeration value="Hétfő"/>
        <xs:enumeration value="Kedd"/>
        <xs:enumeration value="Szerda"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="idopontOraTipus">
        <xs:restriction base="xs:string">
        <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
